language: python
python:
  - "3.3"
  # - "3.4"
  # - "3.5"
  # - "3.6"
  - "3.7-dev"
sudo: false
# command to install dependencies
install:
  # - pip install --upgrade pip
  # - pip install setuptools==39.2.0
  - echo $TRAVIS_PYTHON_VERSION
  - if [[ $TRAVIS_PYTHON_VERSION == '3.3' ]]; then echo 'py33' && pip install tox-travis==0.10 tox==3.1.3; fi
  - if [[ $TRAVIS_PYTHON_VERSION != '3.3' ]]; then echo 'not py33' && pip install tox-travis tox coveralls; fi
  # - pip install tox-travis
  # - pip install coveralls
  # - pip install tox
# command to run tests
script:
  - "tox"
after_success:
 coveralls
