
.stdout-text {
    white-space: pre-wrap;
}

.fg-30 {
    /* black */
    color:#000;
}
.fg-31 {
    /* red */
    color:rgb(205,0,0);
}
.fg-32 {
    /* green */
    color: rgb(0, 205, 0);
}
.fg-33 {
    /* yellow */
    color: rgb(205, 205, 0);
}
.fg-34 {
    /* blue */
    color: rgb(0, 0, 238);
}
.fg-35 {
    /* purple */
    color: rgb(205, 0, 205);
}
.fg-36 {
    /* cyan */
    color: rgb(0, 205, 205);
}
.fg-37 {
    /* white */
    color: rgb(229, 229, 229);
}


.fg-intense-30 {
    /* gray */
    color:rgb(127,127,127);
}
.fg-intense-31 {
    /* red */
    color: rgb(255, 0, 0);
}
.fg-intense-32 {
    /* green */
    color: rgb(0, 255, 0);
}
.fg-intense-33 {
    /* yellow */
    color: rgb(255, 255, 0);
}
.fg-intense-34 {
    /* blue */
    color: rgb(92, 92, 255);
}
.fg-intense-35 {
    /* purple */
    color:rgb(255, 0, 255);
}
.fg-intense-36 {
    /* cyan */
    color: rgb(0, 255, 255);
}
.fg-intense-37 {
    /* white */
    color: rgb(255, 255, 255);
}


.bg-40 {
    /* black */
    background-color:#000;
}
.bg-41 {
    /* red */
    background-color:rgb(205,0,0);
}
.bg-42 {
    /* green */
    background-color: rgb(0, 205, 0);
}
.bg-43 {
    /* yellow */
    background-color: rgb(205, 205, 0);
}
.bg-44 {
    /* blue */
    background-color: rgb(0, 0, 238);
}
.bg-45 {
    /* purple */
    background-color: rgb(205, 0, 205);
}
.bg-46 {
    /* cyan */
    background-color: rgb(0, 205, 205);
}
.bg-47 {
    /* white */
    background-color: rgb(229, 229, 229);
}


.bg-intense-40 {
    /* gray */
    background-color:rgb(127,127,127);
}
.bg-intense-41 {
    /* red */
    background-color: rgb(255, 0, 0);
}
.bg-intense-42 {
    /* green */
    background-color: rgb(0, 255, 0);
}
.bg-intense-43 {
    /* yellow */
    background-color: rgb(255, 255, 0);
}
.bg-intense-44 {
    /* blue */
    background-color: rgb(92, 92, 255);
}
.bg-intense-45 {
    /* purple */
    background-color:rgb(255, 0, 255);
}
.bg-intense-46 {
    /* cyan */
    background-color: rgb(0, 255, 255);
}
.bg-intense-47 {
    /* white */
    background-color: rgb(255, 255, 255);
}

